# Ignore node_modules directory
node_modules/

# Ignore build directories
dist/
build/

# Ignore logs
logs/
*.log

# Ignore temporary files
tmp/
temp/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific directories
.vscode/
.idea/

# Godot specific directories
.import/

# Ignore files with .import extension
*.import

# Ignore templates
export_presets.cfg

# Ignore obfuscated scripts
/obfuscator.py

# Specific folders
Battlers/
Busts/
Equipment/Icons/
Fonts/
Icons/
UI/
HTML5Export/